@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: "quicksandbold";
  src: url("./fonts/quicksand-bold-webfont.woff2") format("woff2"),
    url("./fonts/quicksand-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "quicksandregular";
  src: url("./fonts/quicksand-regular-webfont.woff2") format("woff2"),
    url("./fonts/quicksand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "armwrestlerbold";
  src: url("./fonts/armwrestler-webfont.woff2") format("woff2"),
    url("./fonts/armwrestler-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
:after,
:before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "quicksandregular", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app_wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
/* SIDEBAR */
.sidebar {
  font-family: "quicksandbold";
  border-right: 1px solid rgb(230, 216, 216);
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 2fr 1fr 1fr;
  z-index: 1;
}
/* target all links */
.sidebar a {
  text-align: center;
  width: 100%;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s ease-out;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
/* inactive links */
.sidebar_link:before {
  content: "";
  position: absolute;
  background: #475569;
  bottom: 0;
  top: 0;
  right: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.2s ease-in;
}
.sidebar_link:hover:before {
  left: 0;
}
.sidebar_link {
  transition: 500ms;
  z-index: 1;
  transition: 0.08s ease-in;
}
.sidebar_link:hover {
  transition: 300ms;
  color: whitesmoke;
}
/* active links */
.sidebar .active {
  --tw-bg-opacity: 1;
  background-color: rgb(45 96 169 / var(--tw-bg-opacity));
}
/* sidebar footer */
.sidebar_footer {
  width: 100%;
  text-align: center;
  border-top: solid 2px;
}
.sidebar_footer span {
  margin-top: 1rem;
}

/* main content */
.content_wrapper {
  min-height: 100vh;
}

/* homepage */
/* .homepage::before {    
  content: "";
  background-image: url('./img/sky-stars.gif');
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0%;
  opacity: 0.5;
} */
.homepage {
  min-height: 100vh;
  text-align: center;
  padding:15px;
}
.homepage .text {
  border-radius: 10px;
  font-family: "quicksandbold";
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homepage .text p {
  font-family: "quicksandregular";
  font-size: large;
}
.homepage .text img {
  width:5rem;
  transition: 100ms;
}
.homepage .text img:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.homepage .text h2 {
  width:100%;
  margin-top:2%;
  border-bottom: 1px solid ;
}
.stack {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.stack img {
  width: 15rem;
  transition: 200ms;
}
.stack img:hover {
  transform: scale(1.1);
}

.text {
  color: #ffffff;
  position: relative;
}

/* portfolio */
.portfolio_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 32%));
  grid-gap: 20px;
  background-color: #0f172a;
}

.portfolio_project {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio_project h2 {
  margin: 0;
  padding: 10px;
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
  font-size: larger;
}

.portfolio_project img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.portfolio_project p {
  margin: 0;
  text-align: center;
  font-size: 1.1rem;
}
/* img container with links on hover */
@keyframes slideIn {
  from {
    bottom: 3rem;
  }
  to {
    bottom: -13rem;
  }
}
.portfolio_project:hover .project_links {
  animation: slideIn 0.5s ease-in forwards;
  visibility: visible;
}
.portfolio_project:hover .project_img {
  transition: 800ms;
  opacity: 0.5;
}
.project_img {
  transition: 600ms;
}

/* links themselves */
.project_links {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  left: 50%;
  top: 20%;
  bottom: -100px;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.project_links img {
  width: 80px;
  height: 80px;
  transition: 200ms;
}
.project_links img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
/*  */
.project_name {
  position: relative;
}
.project_name:hover {
  cursor: pointer;
  box-shadow: 1px 1px #2d3a58;
}
